@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-17 12:33:01
 * @version $Id$
 */
.sprite {background-image: url(images/spritesheet.png);background-repeat: no-repeat;display: block;}

.sprite-apple-nav_01 {width: 106px;height: 38px;background-position: -5px -5px;}

.sprite-apple-nav_02 { width: 105px;height: 38px;background-position: -5px -53px;}

.sprite-apple-nav_03 {width: 105px;height: 38px;background-position: -5px -101px;}

.sprite-apple-nav_04 { width: 105px;height: 38px;background-position: -5px -149px;}

.sprite-apple-nav_05 {width: 105px; height: 38px;background-position: -121px -5px;}

.sprite-apple-nav_06 {width: 104px; height: 38px;background-position: -120px -53px;}

.sprite-apple-nav_07 {width: 104px;height: 38px;background-position: -120px -101px;}

.sprite-apple-nav_08 {width: 104px;height: 38px;background-position: -120px -149px;}

.sprite-apple-nav_09 {width: 136px;height: 38px;background-position: -5px -197px;}

body{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

ul li{
	float: left;	
}

ul{
	display: inline-block;
}

.wrapper{
	text-align: center;
}