@charset "UTF-8";
*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    color:black;
}
ul,ol,li{
    list-style-type:none;
}
body{
    font-family: "微软雅黑", "Arial", "Helvetica", "sans-serif";
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}