<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
      *{
  padding: 0;
  margin: 0;
  font-family:Helvetica,'Helvetica Neue',Arial, sans-serif,tahoma,'Microsoft YaHei', arial, 'Hiragino Sans GB', '宋体';
}

html{
  height: 100%;
}

body{
  height: 100%;
}

/*top*/
body>#top{
  height: 100%;
  width: 100%;
  text-align: center;
  display: table; /*多行文字垂直居中的时候，父元素要给这个*/
  background:url(http://icocoon.github.io/Page-Demo/img/%E4%B8%BB%E8%83%8C%E6%99%AF.jpg) no-repeat center center scroll;
  background-size: cover;/*使背景图自动调整全屏显示，背景图像完全覆盖背景区域。*/
}

#top .container{
  display: table-cell;/*多行文字垂直居中的时候，子元素要给这个，注意与父元素之间的区别*/
    text-align: center;
    vertical-align: middle;/*多行文字垂直居中的时候，子元素要给这个*/
  line-height: 1.2;
}

#top .container h1{
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 20px;
}

#top .container h4{
  font-size: 22px;
  color: #262626;
  margin-bottom: 20px;
}

#top .container a{
  text-decoration: none;
  color: white;
}

#top .container .btn{
  display: inline-block;
  vertical-align: top;
  padding: 10px 12px;
  font-weight: bold;
  border: 1px solid transparent;
  background-color: #606A71;
  opacity: 0.7;
}

#top .container .btn:hover{
  background-color: #2A2E31;
}
  </style>
</head>
 <!--top-->
  <div id="top">
    <div class="container">
      <h1>Hello World</h1>
      <h4>This is my page demo</h4>
      <a href="https://github.com/icocoon/Page-Demo/tree/gh-pages/Demo" class="btn">Find Out More</a>
    </div>
  </div>



</body>
</html>
