*{margin: 0;padding: 0; font-family: "Microsoft YaHei";}
ul{list-style: none;}
a{text-decoration: none;}
#header{
	background: rgb(51,51,51);
	width: 1200px;
	overflow: hidden;
}
.nav > li{
	float: left;
}
.nav > li > a{
	color: rgb(0,125,0);
	line-height: 60px;
	padding: 10px 10px;
	font-size: 20px;
}
#content{
	width: 1200px;
}
.title{
	color: rgb(0,125,0);
	text-align: center;
	padding-top:30px;
}
.desc{
	color: #ccc;
	margin: 30px;
}
h3{
	border-bottom: 3px dotted #ccc;
	margin-left: 10px;
}
.main{
	margin: 20px;
	margin-left: 35px;
}
.tree{
	margin-left: 35px;
}
.tree  a{
	color: rgb(0,125,0);
}
.has-child > ul{
	display: none;
	margin-left: 40px;
}
.has-child:before{
	content: '+';
}
.open:hover > ul{
	display: block;
}
.open:hover:before{
	content: "-";
}