@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-05-10 13:53:36
 * @version $Id$
 */

*{margin:0;padding: 0;}

ul,li,dl{list-style: none;}

a{text-decoration: none;}

a:hover{
	cursor:pointer;
	opacity:0.8;
}

body,p,a{
	color:white;
	font-size:16px;
	font-family:"微软雅黑";
}

.clearfix:after{
	content:'';
	display:block;
	clear: both;
}
/*清楚浮动*/


.clearfix{*zoom:1;}
/*支持IE6*/


