@charset "UTF-8";

ul,
li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none
}

.items li {
	width: 360px;
	margin-bottom: 5px;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;
}

.items li span {
	display: block;
	height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
	box-shadow: 2px 2px 5px #000;
	background-color: #eee;
	text-indent: 2em;
	cursor: pointer;
}

.items li img {
	height: 0;
	transition: height .4s;
	overflow: hidden;
}

<<<<<<< HEAD
.items .selected img {
=======
.items > .selected img {
>>>>>>> aa46419e0fdc83319e3ad64cc8f81174bf947134
	width: 360px;
	height: 300px;
}

hr {
	margin: 50px 0;
}
