<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
        document.domain = 'a.com'
    </script>
</head>
<body style="background:grey;">
<div>
    this is a.com
    <iframe id=f src="http://a.com/index2" frameborder="0"></iframe>
</div>

<script src="http://style.c.aliimg.com/fdevlib/js/gallery/jquery/jquery-latest.js"></script>
    <script src="http://data.com/ddd"></script>

</body>
</html>
