<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
   		 document.domain = 'a.com'
	</script>
</head>
<body style="background:grey;">
index 2222
<script src="http://style.c.aliimg.com/fdevlib/js/gallery/jquery/jquery-latest.js"></script>

</body>
</html>