/*背景图片*/


.a_background{
	width: 100%;
	height: 100%;
	position: absolute;
}


.a_background_top{
	width: 100%;
	height: 71.6%;
	background-image: url("http://img.mukewang.com/55addf6900019d8f14410645.png"); 
	background-size: 100% 100%;
}


.a_background_middle{
	width: 100%;
	height: 13.1%;
	background-image: url("http://img.mukewang.com/55addf800001ff2e14410118.png");
	background-size: 100% 100%;
}

.a_background_botton{
	width: 100%;
	height: 15.3%;
	background-image: url("http://img.mukewang.com/55addfcb000189b314410138.png");
	background-size: 100% 100%;
}


/*太阳自转以及动画*/
#sun {
    background: url("http://img.mukewang.com/55ade004000106c202010201.png") no-repeat;
    position: absolute;
    z-index: 1;
    top: -30px;
    height: 201px;
    width: 201px;
    right: 40%;
}

.rotation {
    animation-name: rotation;
    animation-duration: 30s;
}

@keyframes rotation {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(-2000px) translateY(400px);
    }
}


/*天空云*/
.cloud{
	z-index: 2;
	position: absolute;
}

.cloud1{
	width: 181px;
	height: 101px;
	left: -5%;
	top: 15%;
	background: url("http://img.mukewang.com/55addfde0001aec501810101.png");
}


.cloud2{
	width: 301px;
	height: 140px;
	right: -5px;
	background: url("http://img.mukewang.com/55addff500016df503010140.png");
}

.cloud1Anim{
	animation-name: smallCloud;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}

.cloud2Anim{
	animation-name: largeCloud;
	animation-duration: 60s;
	animation-iteration-count: infinite;
}


@keyframes smallCloud {
	0%{
		left: -5%;
	}
	100%{
		left: 100%;
	}
}

@keyframes largeCloud {
	0%{
		left: -5%;
	}
	100%{
		left: 100%;
	}
}