/*************
 *  页面样式
 *************/

 /* ==========
    基本默认值
    ========== */

html {
    font-size: 62.5%;
    color: #222;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

 /* ==========
    工具样式
    ========== */

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

 /* ================
    浏览器更新提示
    ================ */

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

 /* ================
    自定义页面样式
    ================ */

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}

/*网站头部*/

.header {
    width: 100%;
}

.header .top-bar {
    padding: 0 1.5rem;
    line-height: 3rem;
    color: #fff;
    border-bottom: 1px solid #ecc000;
    background: #555;
}

.header .top-bar ul li {
    display: inline-block;
}

.header .top-bar ul li + li {
    border-left: 1px solid #999;
    margin-left: -3px;
}

.header .top-bar ul a {
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}

@media only screen and (max-width: 50em) {
    .header .top-bar ul a {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 30em) {
    .header .top-bar .tel {
        display: none;
    }

    .header .top-bar ul li:nth-child(3),
    .header .top-bar ul li:nth-child(4) {
        display: none;
    }
}

.header .main-bar .brand {
    margin: 0;
    padding: 1rem 1.5rem 0;
}

.header .main-bar ul li {
    display: inline-block;
    border-left: 1px solid #f0ede9;
}

.header .main-bar ul a {
    display: inline-block;
    padding: 0 2.5rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

.header .main-bar ul a:hover {
    color: #ffb300;
    background-color: #f8f6f1;
}

@media only screen and (max-width: 50em) {
    .header .main-bar .brand {
        float: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 1.5rem auto 0.5rem;
    }

    .header .main-bar ul {
        width: 100%;
        text-align: center;
    }

    .header .main-bar ul li {
        border: none;
    }

    .header .main-bar ul a {
        padding: 0 1.5rem;
    }
}

@media only screen and (max-width: 30em) {
    .header .main-bar ul li {
        line-height: 3em;
    }

    .header .main-bar ul li:first-child {
        display: none;
    }

    .header .main-bar ul a {
        font-weight: normal;
        padding: 0 0.5rem;
    }
}

/*网站主要内容*/

.container {
    width: 100%;
}

.transaction {
    width: 100%;
    background-color: #7c7365;
    line-height: 3rem;
}

.transaction .wrapper {
    font-size: 1.5rem
}

.trans-data {
    padding: 1rem;
    color: #fff;
}

.trans-data span {
    display: inline-block;
}

.trans-report a {
    display: inline-block;
    padding: 1rem;
    color: #fff;
}

.trans-money {
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 1px #333 inset;
}

@media only screen and (max-width: 50em) {
    .trans-data {
        padding: 1rem 0.5rem;
    }

    .trans-data span {
        font-size: 1.2rem;
    }

    .trans-data .trans-money {
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
        letter-spacing: inherit;
        background-color: transparent;
        box-shadow: none;
    }

    .trans-report a {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 30em) {
    .transaction {
        padding: 0.5rem 0;
    }

    .trans-data, .trans-report {
        float: none;
        text-align: center;
    }

    .trans-data, .trans-report a {
        padding: 0;
    }
}

/*滚动广告*/



/*平台特点*/

.feature {
    max-width: 90%;
    margin: 2rem auto;
    font-size: 0;
}

.feature .item {
    display: inline-block;
    width: calc(33.33333% - 3rem);
    padding: 1rem;
    background-color: #fff;
    font-size: 1.4rem;
    box-shadow: 0 0 4px #ccc;
}

.feature .item + .item {
    margin-left: 1.5rem;
}

.feature .item h3 {
    display: inline-block;
    width: 40%;
    margin: 0;
    vertical-align: top;
    font-size: 3.3rem;
    text-align: center;
    color: #ff9900;
}

.feature .item p {
    display: inline-block;
    width: 55%;
    margin: 0;
    color: #999;
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em) {
    .feature .item h3,
    .feature .item p {
        display: block;
        width: 100%;
        text-align: center;
    }

    .feature .item h3 {
        font-size: 2.6rem;
    }

    .feature .item p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 30em) {
    .feature {
        max-width: 96%;
        margin: 1rem auto;
    }

    .feature .item {
        display: block;
        width: auto;
    }

    .feature .item + .item {
        margin: 1rem 0 0;
    }
}

/*最新公告*/

.notice {
    max-width: 90%;
    margin: 2rem auto;
    line-height: 3rem;
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}

.notice a {
    text-decoration: none;
}

.notice a:first-child {
    float: left;
    width: 70%;
    margin-left: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notice a:first-child::before {
    content: '最新公告: \00a0\00a0';
    color: #aaa;
}

.notice .more {
    float: right;
    width: auto;
    margin-right: 2rem;
    color: #ff9900;
}

.notice .date {
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 30em) {
    .notice {
        max-width: 96%;
        margin: 1rem auto;
        font-size: 1.2rem;
    }

    .notice a:first-child {
        margin-left: 1rem;
    }
    
    .notice .date {
        display: none;
    }
}

/*产品列表*/

.product {
    width: 90%;
    margin: 2rem auto;
    background-color: #f5f9fa;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
    font-size: 1.4rem;
}

.product h2 {
    float: left;
    width: 20%;
    margin-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    font-weight: normal;
    color: #635c51;
}

.product h2 em {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.product h2 em:first-child {
    margin-top: 4rem;
}

.product .product-content {
    float: right;
    width: 79.5%;
    border-left: 1px solid #eee;
    background-color: #fff;
}

.product .product-content .item {
    text-align: center;
}

.product .product-content .item + .item {
    border-top: 1px solid #eee;
}

.product .product-content h3 {
    float: left;
    width: 30%
    ;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: normal;
}

.product .product-content h3 em {
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;
    color: #8b999d;
}

.product .product-content h3 i {
    display: block;
    font-style: normal;
    font-size: 1.2rem;
    color: #999;
}


.product .product-content .info {
    float: left;
    width: 48%;
    padding: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 14px;
}

.product .product-content .info p {
    float: left;
    width: 56%;
}

.product .product-content .info p:last-child {
    width: 40%;
}

.product .product-content .info span {
    display: block;
    font-size: 2.4rem;
    color: #ff9900;
}

.product .product-content .info i {
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .buy {
    float: left;
    width: calc(22% - 4.4rem);
    padding: 1rem;
}

.product .product-content .buy a {
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;
}

.product .product-content .buy .disabled {
    background-color: #ccc;
}

.product .product-content .buy .disabled:hover {
    cursor: not-allowed;
}

@media only screen and (max-width: 50em) {
    .product h2 {
        float: none;
        width: 100%;
        margin-top: 2rem;
        font-size: 2.2rem;
    }

    .product h2 em {
        display: inline;
        font-size: 1.2rem;
    }

    
    .product h2 em:first-child {
        margin-top: 0;
    }

    .product .product-content {
        float: none;
        width: 100%;
    }

    .product .product-content h3 {
        margin-bottom: 0;
    }

    .product .product-content h3 em {
        font-size: 2.4rem;
    }

    .product .product-content .info {
        padding-bottom: 0;
        font-size: 1.2rem;
    }

    .product .product-content .info span {
        font-size: 2rem;
    }

    .product .product-content .buy a {
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 30em) {
    .product {
        width: 96%;
    }

    .product h2 em:first-child::before {
        content: " ";
        display: block;
    }

    .product .product-content .info {
        float: right;
        width: 70%;
        padding: 1rem 0;
        border: none;
    }

    .product .product-content .info span {
        font-size: 1.8rem;
    }

    .product .product-content .buy {
        width: 100%;
        padding: 1rem 0 2rem;
    }

    .product .product-content .buy a {
        margin-top: 0;
        max-width: 26rem;
    }
}

/*信息分类*/

.category {
    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
}

.category .brand {
    float: left;
    width: 20%;
    height: 35px;
    background: url(../img/logo.png) no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.category ul {
    float: left;
    width: 15%;
}

.category ul li {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.category ul .title {
    font-size: 1.6rem;
    line-height: 3rem;
}

@media only screen and (max-width: 50em) {
    .category {
        text-align: center;
    }

    .category .brand {
        display: none;
    }

    .category ul {
        width: 20%;
    }

    .category ul li.title {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .category ul li {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

/*底部导航*/

.footer {
    width: 100%;
    padding: 3rem 0 5rem;
    background-color: #ededed;
    text-align: center;
}

.footer ul li {
    display: inline-block;
}

.footer ul .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(../img/cert1.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

.footer ul .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

.footer ul .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

.footer ul .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

.footer ul .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

.footer ul .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

.footer ul .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

.footer ul .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

.footer .copyright {
    color: #999;
}

