<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body style="background:grey;">
<div>
	<form action="/" method=post>
        <input type="text" name=username>
        <input type="password" name="password">
        <input type="submit" value="提交">
    </form>
</div>


<script src="http://style.c.aliimg.com/fdevlib/js/gallery/jquery/jquery-latest.js"></script>

</body>
</html>
