<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body style="background:grey;">
<div>
    <form>
        <input type="text" name=username>
        <input type="password" name="password">
        <input type="submit" value="提交">
    </form>
</div>

<script src="http://7xrxd2.com1.z0.glb.clouddn.com/jquery/jquery-1.12.3.min.js"></script>
<script>
$('form').on('submit',function(e){
    e.preventDefault()
    var form = this   
    var $form = $(this)
    var data= $form.serialize()
    $.post('/', data, function(response){
        alert('提交成功')
        console.log(response)
    })
})

</script>


</body>
</html>
