@charset"utf-8";
*{margin: 0;padding:0;color: white;font-size:12px;font-weight: bold;}
.float{
	float: left;width:100%;
	overflow: hidden;
	position: relative;
}
.float ul{
	clear: left;
	float: left;
	position: relative;
	left: 50%;
	text-align: center;
}
.float li{
	line-height: 25px;
	display: block;
	float: left;
	position: relative;
	right: 50%;
	border:1px solid #8E8E8E;
	border-radius: 5px;
	background-color: #8E8E8E;
	padding:0 5px;

}