*{margin: 0;padding: 0;}
li{float: left;}
ul{list-style: none; display: inline-block;}
.nav{text-align: center;}
.main-iphonese{text-align: center;}
.main-iphonese>img{display: inline-block;}
.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-apple-nav_03 {
    width: 106px;
    height: 38px;
    background-position: -5px -5px;
}

.sprite-apple-nav_05 {
    width: 105px;
    height: 38px;
    background-position: -5px -53px;
}

.sprite-apple-nav_07 {
    width: 105px;
    height: 38px;
    background-position: -5px -101px;
}

.sprite-apple-nav_09 {
    width: 105px;
    height: 38px;
    background-position: -5px -149px;
}

.sprite-apple-nav_11 {
    width: 105px;
    height: 38px;
    background-position: -121px -5px;
}

.sprite-apple-nav_13 {
    width: 104px;
    height: 38px;
    background-position: -120px -53px;
}

.sprite-apple-nav_15 {
    width: 104px;
    height: 38px;
    background-position: -120px -101px;
}

.sprite-apple-nav_17 {
    width: 104px;
    height: 38px;
    background-position: -120px -149px;
}

.sprite-apple-nav_19 {
    width: 136px;
    height: 38px;
    background-position: -5px -197px;
}