<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 1.a.com -->
    <script >
        document.domain = 'a.com'
    </script>
</head>
<body style="background:grey;">
<div>
    I am a.com
    <button id=button>点我查看 data.com 的数据</button>
    <hr>
    <iframe id='f' src="http://a.com/index2" frameborder="0"></iframe>
</div>


</body>
</html>
