@media screen and(max-width: 520px) {
	.st-panel h2{
		font-size: 42px;
	}
	.st-panel p{
		width: 90%;
		left: 10%;
		margin-top: 0;
	}
	.st-container > a{
		font-size: 13px;
	}
}


@media screen and(max-width: 360px) {
	.st-panel h2{
		font-size: 30px;
	}
	.st-container > a{
		font-size: 10px;
	}
	.st-desc{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}

	[data-icon]:after{
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		   -moz-transform: rotate(-45deg) translateY(15%);
		    -ms-transform: rotate(-45deg) translateY(15%);
		     -o-transform: rotate(-45deg) translateY(15%);
		        transform: rotate(-45deg) translateY(15%);
	}
}


@font-face{
	font-family: 'raphaelicons';
	src:url('fonts/raphaelicons-webfont.eot') format('eot'),
		url('fonts/raphaelicons-webfont.ttf') format('truetype'),
		url('fonts/raphaelicons-webfont.woff') format('woff'),
		url('fonts/raphaelicons-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
	font-family: Georgia,serif;
	background: #ddd;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow: hidden;
	-webkit-font-font-smoothing:antialiased;/*用于设置字体的抗锯齿或者说光滑度的属性*/
}

a{
	text-decoration: none;
	color: #555;
}

/*清除浮动的类*/
.clr{
	width: 0;
	height: 0;
	overflow: hidden;
	clear: both;
	padding: 0;
	margin: 0;
}

.st-container{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-family: "Josefin Slab","Myriad Pro",Arial,sans-serif;
	position: absolute; /*添加绝对定位来解决st-panel无法全屏的问题。链接：http://www.imooc.com/qadetail/97920*/
	top: 0;
	left: 0;
}

.st-container > input,
.st-container > a{
	width: 20%;
	height: 34px;
	line-height: 34px;
	position: fixed;
	bottom: 0;
	cursor: pointer;
}

.st-container > input{
	opacity: 0;
	z-index: 1000;
}

.st-container > a{
	z-index: 10;
	font-weight: 700;
	font-size: 16px;
	background: #e23a6e;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2)
}

#st-control-1,#st-control-1 + a{
	left: 0%;
}

#st-control-2,#st-control-2 + a{
	left: 20%;
}

#st-control-3,#st-control-3 + a{
	left: 40%;
}

#st-control-4,#st-control-4 + a{
	left: 60%;
}

#st-control-5,#st-control-5 + a{
	left: 80%;
}

.st-container input:checked + a,
/*保证被选中时背景色也不会受到hover的影响*/
.st-container input:checked:hover + a{
	background: #821134;
}

/*插入三角形*/
.st-container input:checked + a:after{
	content: "";
	width: 0;
	height: 0;
	overflow: hidden;
	border: 20px solid transparent;
	border-bottom-color: #821134;
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -20px;
}

.st-container input:hover + a{
	background: #AD244F;
}


/*内容区*/
.st-scroll,
.st-panel{
	width: 100%;
	height: 100%;
	position: relative;
}

.st-scroll{
	left: 0;
	top: 0;
	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;  /*定义元素不面向屏幕时是否可见*/
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;  /*ease-in-out动画由慢开始，变快再变慢*/
}

.st-panel{
	background: #fff;
	overflow: hidden;
}

/*通过改变st-scroll的Y方向来实现点击导航页面切换的效果*/
#st-control-1:checked ~ .st-scroll{
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}

#st-control-2:checked ~ .st-scroll{
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	        transform: translateY(-100%);
}

#st-control-3:checked ~ .st-scroll{
	-webkit-transform: translateY(-200%);
	   -moz-transform: translateY(-200%);
	    -ms-transform: translateY(-200%);
	     -o-transform: translateY(-200%);
	        transform: translateY(-200%);
}

#st-control-4:checked ~ .st-scroll{
	-webkit-transform: translateY(-300%);
	   -moz-transform: translateY(-300%);
	    -ms-transform: translateY(-300%);
	     -o-transform: translateY(-300%);
	        transform: translateY(-300%);
}

#st-control-5:checked ~ .st-scroll{
	-webkit-transform: translateY(-400%);
	   -moz-transform: translateY(-400%);
	    -ms-transform: translateY(-400%);
	     -o-transform: translateY(-400%);
	        transform: translateY(-400%);
}

/*制作顶部三角形*/
.st-desc{
	width: 200px;
	height: 200px;
	background: #fa96b5;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -100px;
	-webkit-transform:translateY(-50%) rotate(45deg);
	   -moz-transform:translateY(-50%) rotate(45deg);
	    -ms-transform:translateY(-50%) rotate(45deg);
	     -o-transform:translateY(-50%) rotate(45deg);
	        transform:translateY(-50%) rotate(45deg);
}


[data-icon]:after{
	content: attr(data-icon);
	width: 200px;
	height: 200px;
	color: #fff;
	font-size: 90px;
	text-align: center;
	line-height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -100px;;
	-webkit-transform: rotate(-45deg) translateY(25%);;
	   -moz-transform: rotate(-45deg) translateY(25%);;
	    -ms-transform: rotate(-45deg) translateY(25%);;
	     -o-transform: rotate(-45deg) translateY(25%);;
	        transform: rotate(-45deg) translateY(25%);
	font-family: 'raphaelicons';
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2)
}


.st-panel h2{
	color: #e23a6e;
	font-size: 54px;
	line-height: 50px;
	text-align: center;
	font-weight: 900;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 50%;
	margin-top: -70px;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;     /*背后的元素不可见*/
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{	
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;	
	   -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;	
	     -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;	
	        animation: moveDown 0.6s ease-in-out 0.2s backwards;     /*动画的名称与播放的时长,由慢到快再到慢,0.2s的延时,backwards代表动画在播放之前为开始状态*/
}

@-webkit-keyframes moveDown{
	0%{
		-webkit-transform: translateY(-40px);
		        transform: translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0%{
		-moz-transform: translateY(-40px);
		     transform: translateY(-40px);
		opacity: 0;
	}
	100%{
		-moz-transform: translateY(0px);
		     transform: translateY(0px);
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0%{
		-o-transform: translateY(-40px);
		   transform: translateY(-40px);
		opacity: 0;
	}
	100%{
		-o-transform: translateY(0px);
		   transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes moveDown{
	0%{
		-webkit-transform: translateY(-40px);
		   -moz-transform: translateY(-40px);
		     -o-transform: translateY(-40px);
		        transform: translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		     -o-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 1;
	}
}

.st-panel p{
	position: absolute;
	width: 50%;
	text-align: center;
	left: 25%;
	top: 50%;
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	-webkit-backface-visibility:hidden;
	   -moz-backface-visibility:hidden;
	        backface-visibility:hidden;
	color: #8b8b8b;
	margin-top: 10px;
}


#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	   -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	     -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	        animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0%{
		-webkit-transform: translateY(40px;);
		        transform: translateY(40px;);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0%{
		-moz-transform: translateY(40px;);
		     transform: translateY(40px;);
		opacity: 0;
	}
	100%{
		-moz-transform: translateY(0px);
		     transform: translateY(0px);
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0%{
		-o-transform: translateY(40px;);
		   transform: translateY(40px;);
		opacity: 0;
	}
	100%{
		-o-transform: translateY(0px);
		   transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes moveUp{
	0%{
		-webkit-transform: translateY(40px;);
		   -moz-transform: translateY(40px;);
		     -o-transform: translateY(40px;);
		        transform: translateY(40px;);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		     -o-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 1;
	}
}


.st-color{
	background: #fa96b5;
}

.st-color .st-desc{
	background: #fff;
}

.st-color [data-icon]:after{
	color: #fa96b5;
}

.st-color h2{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.st-color p{
	color: rgba(255,255,255,0.8);
}


