@charset 'utf-8';
/* CSS reset */
html{color:#515c6b; font-family:'微软雅黑',"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;}
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,
strong{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.clear:after {content:".";display:block;height:0;clear:both;visibility:hidden; overflow:hidden;}
.clear { *zoom:1;}
.fl {float: left;}
.fr {float: right;}
.fw {font-weight: bold;}
a{ cursor:pointer;}

/* Suggested order:
//显示属性
* display
* list-style
* position
* float
* clear
 
//自身属性
* width
* height
* margin
* padding
* border
* background
 
//文本属性
* color
* font
* text-decoration
* text-align
* vertical-align
* white-space
* other text
* content
*/