@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-15 12:33:38
 * @version $Id$
 */

/*demo方法*/

.container{
  text-align: center;
}

.container span{
  border: 1px solid red;
}

/*方案二*/
.container1{
	text-align: center;
    font-size: 0;
} 

.container1 .inner{
	border: 1px solid red;
	font-size: 16px;
}

.container1 h5{
    font-size:12px;
    font-weight: bold;
}

/*方案三*/
.wrapper{
   text-align: center;
}

.container2{
  text-align: center; 
  display: inline-block;
}

.container2 .inner{
  float: left;
  border: 1px solid red;
}