*{margin:0;padding:0;}
ul,ol{list-style: none;}
a,p,h1,h2,h3,h4,h5,h6{text-decoration:none;color:inherit;}
h2{font-family: "microsoft yahei";font-weight: 400;}
.fy-icon{color:inherit;}
body{font: 12px/150% Arial,Verdana,"\5b8b\4f53";color: #666;background: #fff;-webkit-font-smoothing: antialiased;}
.clearfix:after{content:" ";display:block;clear:both;}
.Topbar-wrapper{height:30px;background:#F1F1F1;line-height: 30px;}
.Topbar{width:1210px;height:30px;margin:0 auto; cursor: default; }
.Topbar .location{width:95px;height:30px;float:left;position: relative; display:inline-block;vertical-align: middle;line-height:30px;}
.Topbar .location .beijing>span{position:absolute;line-height: 30px;height:30px;text-align:center;}
.Topbar .location .beijing .i-down{position:absolute;top:0;right:1px;display: inline-block;}
.Topbar .location:hover .beijing .i-down{-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);-webkit-transition:-webkit-transform 0.1s;transition:-webkit-transform 0.1s;transition:transform 0.1s; }
.location:hover:after{content:'';display: block;position: absolute;height:0;top:90%;left:1px;border-top: 10px solid white;border-left: 1px solid transparent;border-right: 1px solid transparent;-webkit-box-sizing: border-box;box-sizing: border-box;width:100%;z-index:12;}
.Topbar .location .beijing{padding:0 25px 0 10px;width:60px;height:30px;line-height:30px;display: inline-block;}
.Topbar .location:hover .beijing{ background:white;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;}
.Topbar .location .locationPicker{line-height:24px;top:100%;left:0;position:absolute;display: inline-block;z-index:11;}
.Topbar .location .locationPicker >ul{width:300px;border:1px solid #DDDDDD;padding:10px 0 10px 10px;background: white;display: none;}
.Topbar .location:hover .locationPicker >ul{display: block;}
.Topbar .location .locationPicker >ul>li {height:24px;float:left;padding:0 8px;margin:2px 8px;text-align: center;}
.Topbar .location .locationPicker >ul>li:hover{background: #F4F4F4;color: #C81623;cursor: pointer;}
.Topbar .location .locationPicker .selected{background:#C81623;color: white;}
.Topbar .location .locationPicker >ul>li.selected:hover{background:#C81623;color: white;}
.Topbar .links{float:right;height:30px;line-height:30px;display:inline-block;width:780px;}
.Topbar .links>ul{display: inline-block;line-height: 30px;width:100%;}
.Topbar .links>ul .split{width:1px;height:15px;background: #ddd;display: inline-block;line-height:30px;vertical-align: middle;margin: 8px 1px;border:none;}
.Topbar .links>ul>li{float:left;line-height:30px;display:inline-block;position:relative;}
.Topbar .links>ul>li>a{padding:0 8px;line-height:30px;display:inline-block;vertical-align: top;}
.Topbar .links>ul>li>span{padding:0 8px;line-height:30px;display:inline-block;vertical-align: top;}
.Topbar .links>ul>li .i-down {top:0;right:0;line-height: 30px;display:inline-block;vertical-align: top;}
.Topbar .links>ul>li .i-shouji{font-size:14px;line-height: 30px;display:inline-block;vertical-align: top;}
.Topbar .links>ul>li:hover>a{color: #C81623;}
.Topbar .links>ul>li:hover>a .i-down{color:#666;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);-webkit-transition:-webkit-transform 0.1s;transition:-webkit-transform 0.1s;transition:transform 0.1s;}
.Topbar .links>ul>li.other:hover>span .i-down{color:#666;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);-webkit-transition:-webkit-transform 0.1s;transition:-webkit-transform 0.1s;transition:transform 0.1s;}
.Topbar .links>ul>li:hover .my{display: block;}
.Topbar .links>ul>li.other{position:relative;line-height:30px;height:30px;border-left:1px solid transparent;border-right:1px solid transparent;}
.Topbar .links>ul>li.other:hover{background: white;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;}
.Topbar .links>ul>li.other:hover:after{content:'';display: block;position: absolute;height:0;top:95%;left:0;border-top: 3px solid white;border-left: 1px solid transparent;border-right: 1px solid transparent;box-sizing:border-box;z-index:1;width:100%;}
.Topbar .links>ul>li .my{width:250px;border:1px solid #DDDDDD;position:absolute;padding:15px;top:100%;left:-1px;display:none;z-index: 1;background: white;}
.Topbar .links>ul>li.other .my>a{line-height: 60px;display: inline-block;float:left;margin-right:10px;}
.Topbar .links>ul>li.other .my>a>img{width: 60px;height:60px;line-height:60px;vertical-align: top;border-radius: 50%;}
.Topbar .links>ul>li.other .my>div{float:left;height:20px;line-height:20px;width:180px;padding:5px 0;}
.Topbar .links>ul>li.other .my>div:hover>a{color:#C81623;}
.Topbar .links>ul>li.other .my>ul{width:250px;line-height:25px;margin-top:80px;}
.Topbar .links>ul>li.other .my>ul>li{display: inline-block;width:120px;}
.Topbar .links>ul>li.other .my>ul>li:hover{color:#C81623;}
.Topbar .links>ul>li.other .shouji{width:230px;border:1px solid #DDDDDD;position:absolute;top:100%;left:-1px;height:196px;display:none;z-index: 1;background: white;}
.Topbar .links>ul>li.other:hover .shouji{display:block;}
.Topbar .links>ul>li.other .guanzhu{width:80px;border:1px solid #DDDDDD;position:absolute;top:100%;left:-1px;height:104px;display:none;z-index: 1;background: white;}
.Topbar .links>ul>li.other:hover .guanzhu{display:block;}
.Topbar .links>ul>li.other .kehu{width:170px;border:1px solid #DDDDDD;position:absolute;top:100%;left:-1px;display:none;z-index: 1;background: white;}
.Topbar .links>ul>li.other:hover .kehu{display:block;}
.Topbar .links>ul>li.other .kehu>div{line-height: 25px;padding:5px 0 5px  10px;border-bottom: 1px solid  #DDDDDD;}
.Topbar .links>ul>li.other .kehu>div.last{border:none;}
.Topbar .links>ul>li.other .kehu>div>ul{line-height: 25px;margin-bottom:3px;}
.Topbar .links>ul>li.other .kehu>div>ul>li{display: inline-block;width:78px;}
.Topbar .links>ul>li.other .kehu>div>ul>li:hover{color:#C81623;}
.Topbar .links>ul>li.other .wangzhan{border:1px solid #DDDDDD;position:absolute;top:100%;right:-1px;display:none;padding:20px 0 16px 0;width:1210px;z-index: 1;background: white;}
.Topbar .links>ul>li.other:hover .wangzhan{display:block;}
.Topbar .links>ul>li.other .wangzhan>div{display: inline-block;float:left;line-height: 24px;text-align: left;}
.Topbar .links>ul>li.other .wangzhan>div>ul>li{float:left;line-height: 24px;height:24px;width:85px;}
.Topbar .links>ul>li.other .wangzhan>div>ul>li:hover{color:#C81623;}
.Topbar .links>ul>li.other .wangzhan>div>ul{margin:5px 0 5px 0;}
.Topbar .links>ul>li.other .wangzhan>div.theme{width:347px;padding-left:20px;}
.Topbar .links>ul>li.other .wangzhan>div.secondly{width:259px;padding-left:20px;border-left:1px solid  #DDDDDD;}
.picture{background:#FB3939;display:inline-block;width:100%;height:80px;text-align: center;position:relative;}
.picture>a{line-height: 80px;display: inline-block;}
.picture>a>img{vertical-align:top;width:1210px;height:80px;}
.picture .i-guanbi{font-size:18px;width:19px;height:19px;position:absolute;opacity:0.4;top:10px;color:white;right:120px;background:#AF2727;filter:alpha(opacity=40);}
.picture .i-guanbi:hover{opacity:1.0;filter:alpha(opacity=100);}
.logo-s-S{width:100%;height:100px;display:inline-block;vertical-align: top;}
.logo-s-S .logo-search-ShoppingCart{width:1210px;height:100px;margin:0 auto;}
.logo-search-ShoppingCart .logo{width:362px;height:60px;padding:20px 0;float:left;vertical-align:middle;}
.logo-search-ShoppingCart .logo>a{width:270px;height:60px;float:left;background:url("http://book.jirengu.com/jirengu-inc/jrg-vip8/demos/%E4%BA%AC%E4%B8%9C/images/logo-201305.png");}
.logo-search-ShoppingCart .search{width:538px;height:60px;float:left;padding:20px 0 20px 0;}
.search .from{display: inline-block;width:538px;height:36px;}
.search .from>input{width:446px;height:24px;border:2px solid #B61D1D;padding:4px;margin-bottom:4px;float:left;outline: 0;border-right:none;color: #666;font-size: 14px;font-family: "microsoft yahei";}
.search .from>button{width:82px;height:36px;background: #B61D1D;font-size: 18px;color:white;border:none;float:left;margin-bottom:4px;line-height: 36px;outline:none;cursor: pointer;}
.search .recommends{width:518px;height:20px;line-height: 20px;}
.search .recommends>a{text-decoration: none;line-height:20px;color:#666666;display: inline-block;margin-right:8px;float: left;}
.search .recommends>a:hover{color:#C81623;}
.search .recommends .first{color:#C81623;}
.logo-search-ShoppingCart .ShoppingCart{width:141px;height:36px;float:right;padding:20px 60px 44px 109px;text-align: center;}
.ShoppingCart .shopping{width: 139px;height:34px;position:relative;background: #F9F9F9;line-height: 34px;border:1px solid #DFDFDF;}
.ShoppingCart .shopping:hover{box-shadow:0 0 5px rgba(0,0,0,.2);cursor: pointer;}
.ShoppingCart .shopping .my{height:36px;width:75px;position:absolute;color:#666666;padding:0  28px 0 36px;left:0;}
.ShoppingCart .shopping .my .drop{display:none;position: absolute;top:100%;right:-1px;height:69px;background:white;width:308px;border:1px solid #DFDFDF;box-shadow:0 0 5px rgba(0,0,0,.2);}
.ShoppingCart .shopping .my .drop .drop-in{padding:10px 0 10px 30px;width:278px;height:49px;display: inline-block;line-height: 49px;}
.ShoppingCart .shopping .my .drop .drop-in>img{width:56px;height:49px;float:left;}
.ShoppingCart .shopping .my .drop .drop-in>div{color:#666;}
.ShoppingCart .shopping:hover:after{position: absolute;top:90%;right:0;border-top:6px solid white; width:100%;height:10px;background:white;display: block;content: '';box-sizing: border-box;border-right:1px solid transparent;border-left:1px solid transparent}
.ShoppingCart .shopping:hover .my .drop{display:block;}
.ShoppingCart .shopping:hover{color:#C81623;background: white;}
.ShoppingCart .shopping .my>span:hover{color:#C81623;}
.ShoppingCart .shopping .i-gouwuche{position:absolute;color:#CD2A36;top:0;left:11px;font-size:18px;}
.ShoppingCart .shopping .i-right{position:absolute;color:#999999;top:0;right:11px;}
.ShoppingCart .shopping  .bubble{position: absolute;background:#C81623;color:white;-webkit-border-radius:7px 7px 7px 0;-moz-border-radius:8px 8px 8px 0;border-radius:8px 8px 8px 0;width:13px;height:13px;font-size: 6px;top:-5px;right:20px; line-height:13px;}
.nav{width:100%;height:44px;border-bottom: 2px solid #B1191A;display:inline-block;vertical-align: top;}
.nav>ul{list-style: none;width:1210px;height:44px;margin:0 auto;}
.nav>ul>li{float:left;line-height:44px;height:44px;}
.nav>ul .all{width:190px;background:#B1191A;color:white;padding:0 10px;font:400 15px/44px "microsoft yahei";}
.nav>ul .ass{height:44px;padding:0 20px;font:400 15px/44px "microsoft yahei";font-size: 16px;color:#333;}
.nav>ul .ass:hover>a{color:#C81623;}
.list-Carousel-NewsService{width:1210px;margin:0 auto;vertical-align: top;}
.list-Carousel-NewsService .list{width:210px;line-height:31px;display: inline-block;font-family:"Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53";font-size: 14px;font-weight: 400;background:#C81623;color:white;float:left;position:relative;}
.list>ul.menu{border-bottom: 1px solid #C81623;box-sizing: border-box;}
.list>ul.menu>li{border-left:1px solid #b61d1d;height:31px;width:209px;}
.list>ul>li>a{line-height: 31px;display: inline-block;width:190px;padding:0 10px;position: absolute;}
.list>ul>li:hover>a{background:#F7F7F7;color:#B61D1D;}
.list>ul>li>a .i-right{float:right;}
.list>ul.menu>li:hover>a .i-right{display: none;}
.list>ul.menu>li:hover .submenu>li{display: block;}
.list>ul.menu>li:hover:after{content: "";position:absolute;left:210px;top:0;height:100%;border-top:1px solid transparent;border-bottom: 1px solid transparent;border-left:1px solid #F7F7F7;box-sizing: border-box;z-index: 21;}
.list>ul.menu>li>ul.submenu{position:absolute;top:0;left:210px;z-index:20;width:999px;}
.list>ul.menu>li>ul.submenu>li{width:960px;padding:20px 20px 18px 20px;border:1px solid #C81623;display:none;background:#F7F7F7;border-top:none;color:#666666;font-size:12px;}
.list>ul.menu>li>ul.submenu>li>div.submenu-left{width:705px;line-height: 24px;display: inline-block;float:left;}
ul.submenu>li>div.submenu-left>ul.submenu-left-one{width:705px;display: inline-block;}
ul.submenu>li>div.submenu-left>ul.submenu-left-one>li{float:left;margin-right:10px;line-height: 24px;display:inline-block;background:#7C7171;color:white;border-top:1px solid #7C7171;}
ul.submenu>li>div.submenu-left>ul.submenu-left-one>li>a{line-height: 24px;display: inline-block;text-align: center;padding-left:5px;padding-right:35px;position:relative;}
ul.submenu>li>div.submenu-left>ul.submenu-left-one>li:hover>a{background: #C81623;}
ul.submenu>li>div.submenu-left>ul.submenu-left-one>li:hover>a .i-right{background:#B1191A;}
ul.submenu>li>div.submenu-left>ul.submenu-left-one>li>a .i-right{width:23px;height:24px;line-height: 23px;display:inline-block;position: absolute;right:0;background:#5C5251;}
ul.submenu>li>div.submenu-left>dl.submenu-left-two{width:705px;display: inline-block;padding:12px 0 0 0;}
ul.submenu>li>div.submenu-left>dl.submenu-left-two>dt{display: inline-block;float:left;line-height: 20px;width:10%;text-align: right;padding-right:10px;}
ul.submenu>li>div.submenu-left>dl.submenu-left-two>dt:hover>a{color:#C81623;}
ul.submenu>li>div.submenu-left>dl.submenu-left-two>dd>{display: inline-block;float:left;line-height: 20px;width:80%;text-align:left;}
ul.submenu>li>div.submenu-left>dl.submenu-left-two>dd>ul{width:622px;display: inline-block;border-bottom: 1px solid #EEEEEE;}
ul.submenu>li>div.submenu-left>dl.submenu-left-two>dd>ul>li{float:left;display: inline-block;line-height: 20px;text-align: center;padding:0 8px;border-left:1px solid #DDDDDD;margin-bottom: 8px;}
ul.submenu>li>div.submenu-left>dl.submenu-left-two>dd>ul>li:hover>a{color:#C81623;}
ul.submenu>li>div.submenu-left>dl.submenu-left-two>dd>ul.submenu-left-three{border-bottom:none;}
ul.submenu>li>div.submenu-right{float:right;width:170px;}
ul.submenu>li>div.submenu-right>div.submenu-right-one{width:170px;}
ul.submenu>li>div.submenu-right>div.submenu-right-one>img{display: inline-block;float:left;margin:0 0 1px 1px;}
ul.submenu>li>div.submenu-right>div.submenu-right-two{width:170px;}
ul.submenu>li>div.submenu-right>div.submenu-right-two>img{display: inline-block;float:left;margin-top:1px;}
ul.submenu>li>div.submenu-right>div.submenu-right-two>img.one{margin-top:10px;}
.list-Carousel-NewsService .Carousel{width:730px;height:454px;position:relative;padding:12px 10px 0 10px;float:left;}
.list-Carousel-NewsService .Carousel>img{width:730px;line-height: 454px;display: inline-block;vertical-align: top;}
.Carousel .slidesjs-pagination{position:absolute;bottom:10px;left:10px;width:730px;z-index:10;text-align:center;}
.Carousel .slidesjs-play,.slidesjs-stop{display:none!important;}
.Carousel .slidesjs-previous{position:absolute;top:50%;left:10px;background:black;width:28px;height:62px;z-index:10;border:none;line-height:62px;opacity:0.2;color:white;font-weight:400;font-size:22px;font-family: simsun;outline:none;display:none;text-align: center}
.Carousel:hover .slidesjs-previous{display:block; cursor: pointer;}
.Carousel .slidesjs-next{position:absolute;top:50%;right:10px;background:black;width:28px;height:62px;z-index:10;border:none;line-height:62px;opacity:0.2;color:white;font-weight:400;font-size:22px;font-family: simsun;outline:none;display:none;text-align: center}
.Carousel:hover .slidesjs-next{display:block;cursor: pointer; }
.slidesjs-pagination>li{display:inline-block;color: white;margin: 0 0.2em;}
.slidesjs-pagination > li > a{width: 20px;height: 20px;line-height: 20px;display: block;background: #3E3E3E;border-radius: 50%;}
.slidesjs-pagination > li > a.active{background: red;}
.list-Carousel-NewsService .NewsService{width:250px;float:right;display:inline-block;padding:12px 0 0 0;}
.NewsService .News{width:248px;border:1px solid #E4E4E4;}
.NewsService .News .one .header{line-height: 32px;width:218px;height:32px;border-bottom:1px solid #E8E8E7;padding:0 15px;display: inline-block;vertical-align: top;}
.NewsService .News .one .header .i-right{display: inline-block;text-align: center;}
.NewsService .News .one .header>h2{float:left;font-size:16px;font-family: "microsoft yahei";font-weight: 400;}
.NewsService .News .one .header>a{float:right;line-height: 32px;height:32px;text-align: center;}
.NewsService .News .one .header>a:hover{color:#C81623;cursor: pointer;}
.NewsService .News .one .box{line-height:24px;width:233px;padding:5px 0 5px 15px;display: inline-block;border-top:none;}
.NewsService .News .one .box>li{line-height: 24px;display:inline-block;vertical-align: top;height:24px;}
.NewsService .News .one .box>li>a{line-height: 24px;display:inline-block;}
.NewsService .News .one .box>li:hover>a{color:#C81623;cursor: pointer;}
.NewsService .Service{width:248px;border-left:1px solid  #E8E8E7;border-right:1px solid  #E8E8E7;margin-bottom:4px;position: relative;overflow: hidden;}
.NewsService .Service>span.s-3{position:absolute;top:27px;right:-3px;width:20px;height:20px;line-height: 20px;text-align: center;font-weight:normal;font-family: simsun;}
.NewsService .Service>span.s-3:hover{background: #ccc;color: #fff;}
.NewsService .Service>ul.s-1{text-align: center;position:relative;}
.NewsService .Service>ul.s-1>li{float:left;display:inline;width: 61px;height:69px;border-right: 1px solid #E8E8E7;border-bottom: 1px solid #E8E8E7;overflow: hidden;cursor: pointer;text-align: center;border-top:none;}
.NewsService .Service>ul.s-1>li.right{border-right:none;}
.NewsService .Service>ul.s-2>li.right{border-right:none;}
.NewsService .Service>ul.s-1>li>a{line-height:28px;height:28px;width:62px;padding-top:41px;display:inline-block;text-align: center;position:relative;}
.NewsService .Service>ul.s-1>li>a .ci-left{left: 18px;width: 25px;height: 25px;display:block;margin:0 auto;position:absolute;top:13px;}
.NewsService .Service>ul.s-1>li>a:hover>span{color:#C81623;}
.NewsService .Service>ul.s-2{position:absolute; width:248px; height: 210px; overflow: hidden;background: white;top:0;animation:in 0.8s;animation-iteration-count:1;}
@keyframes  in{
    from{top:210px;}
    to{top:0;}
}
.NewsService .Service>ul.s-2>li.active{display:block;border-top: 2px solid #c81623;border-bottom: none;}
.NewsService .Service>ul.s-2>li{float:left;display:inline;width:60px;height:25px;line-height:25px;border-right: 1px solid #E8E8E7;border-bottom: 1px solid #E8E8E7;border-top:2px solid transparent; border-left:1px solid transparent;cursor: pointer;text-align: center;}
.NewsService .Service>ul.s-2>li>div{width:248px;height:183px;position:absolute;left:0;display:none;top:27px;}
.NewsService .Service>ul.s-2>li.active>div{display:block;}
.NewsService .page{height:75px;display: inline-block;vertical-align:top;width:250px;}
.NewsService .page>a{height:75px;line-height:75px;display: inline-block;vertical-align: top;}
.NewsService .page>a>img{width:250px;height:75px;}
.lazy-wrap{width:1210px;margin:0 auto;vertical-align: top;}
.lazy-wrap .lazy-today{height:164px;margin:10px 0 20px 0;}
.lazy-today .mt{display: block;float: left;width: 210px;height: 151px;background: url(//misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) no-repeat -213px -136px;text-indent: -10000px;}
.lazy-today .mt .jd-clock-wrap{position: relative;width: 210px;height: 151px;background: url(//misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) 0 -136px no-repeat;}
.mt .jd-clock-wrap .jd-clock{position: absolute;left: 72px;top: 31px;width: 43px;height: 43px;border-radius: 50%;border: 7px solid #fff;}
.jd-clock::before{content: "";position: absolute;left: 18px;top: 18px;width: 7px;height: 7px;border-radius: 50%;background: #fff;}
.jd-clock-wrap .jd-clock-h{position: absolute;top: 5px;left: 19px;height: 19px;width: 5px;background-color: #fff;border-radius: 2px;transform: rotate(10deg);transform-origin: 2.5px 16.5px;}
.jd-clock .jd-clock-m {position: absolute;left:19px;top:2px;width: 5px;height: 22px;background-color: #fff;border-radius: 2px;transform-origin: 2.5px 19.5px;animation: tick-tock 20s steps(60,end) infinite;}
.jd-clock .jd-clock-s {position: absolute;left:0;top:0;width:6px;height:6px;animation: tick-tock 10s linear infinite;background-color: #5e5252;border-radius: 50%;transform-origin:21px 21px;}
@keyframes tick-tock{to{transform:rotate(360deg);}}
.lazy-today .mc{float:left;display: inline-block;width:1000px;height:164px;font-size:0;overflow: hidden;position:relative;}
.lazy-today .mc .lists>img{width:249px;line-height:164px;display: inline-block;vertical-align: top;margin-right:1px;}
.lazy-today .mc .lists>img.no{width:250px;margin-right:0;}
.mc .prev{position:absolute;top:50px;background:rgb(190,190,190);left:0;width:28px;height:62px;border:none;line-height:62px;opacity:0.8;color:white;font-weight:400;font-size:22px;font-family: simsun;outline:none;display:none;text-align: center;}
.mc .next{position:absolute;top:50px;background:rgb(190,190,190);right:0;width:28px;height:62px;border:none;line-height:62px;opacity:0.8;color:white;font-weight:400;font-size:22px;font-family: simsun;outline:none;display:none;text-align: center;}
.viewpoint:hover .next,.viewpoint:hover .prev{display:block;}
.viewpoint:hover {cursor: pointer;}
.guessyou{height:269px;overflow: hidden;width:1210px;margin:0 auto 20px auto;}
.guessyou .guessyou-mt{width:1210px;line-height:36px;height:36px;margin:0 auto;}
.guessyou-mt>h2{float:left;width:80px;display:inline;line-height: 30px;font-size: 20px;color: #333;height:30px;padding-right:228px;background: url(//misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) 85px -91px;}
.guessyou-mt>a{width:36px;height:18px;line-height: 18px;padding-right:25px;float:right;margin-top:8px;background: url(//misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) -310px -5px no-repeat;}
.guessyou-mt>a:hover{color:#C81623;background-position: -310px -29px;}
.guessyou .guessyou-mc{width:1208px;height:232px;margin:0 auto;text-align: center;border:1px solid #ededed;border-top:none;}
.guessyou .guessyou-mc .spacer{position: relative;height: 1px;line-height: 0;font-size: 0;background-color: #d1d1d1;}
.guessyou .guessyou-mc .spacer>i{width: 365px;height: 5px;overflow: hidden;position: absolute;right: -1px;top: -2px;background: #b72323 url(//misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) no-repeat 0 -124px;}
.guessyou .guessyou-mc:hover  .spacer>i{animation:idf 1s}
@keyframes idf {
    from{right:1200px;}
    to{right:-1px;}
}
.guessyou .guessyou-mc>ul{width:1208px;height:210px;padding-top:20px;}
.guessyou .guessyou-mc>ul>li{display:inline;float:left;width:201px;height:210px;padding-bottom: 15px;}
.guessyou-mc>ul>li .p-img{width:201px;height:130px;line-height: 130px;margin-bottom: 10px;}
.guessyou-mc>ul>li .p-info{height:61px;padding:0 36px;border-right:1px solid #E6E6E6;}
.guessyou-mc>ul>li .p-info .p-name{width:129px;height:36px;margin-bottom: 6px;color: #666;}
.guessyou-mc>ul>li .p-info .p-name:hover{color:#C81623;}
.guessyou-mc>ul>li .p-info .p-price{height:19px;line-height: 19px;text-align: center;color: #b51d1a;font-size: 18px;}
.jd-life{width:1210px;margin:0 auto;}
.jd-life>h2{display:inline;line-height: 30px;font-size: 20px;color: #333;height:30px;}
.life-list{border:1px solid #EDEDED;width:1208px;height:405px;}
.life-list1,.life-list3{background:#F7F7F7;}
.life-list1,.life-list2,.life-list3{height:405px;float:left;position:relative;overflow: hidden;}
.life-list1{width:404px;}
.life-list1 .list1-1,.list2-1,.list3-1{border-bottom:1px solid #EDEDED;border-right: 1px solid #EDEDED;overflow: hidden;height:246px;}
.list1-1>h4,.list2-1>h4,.list3-1>h4{height:40px;margin:0 20px;border-bottom:1px dashed #e0e0e0;line-height:40px;text-align:center;font: 700 15px/40px 'Microsoft Yahei';color: #333;}
.life-list1 .list1-1>h4{width:363px;}
.life-list1 .list1-1>div{left:45px;top: 109px;}
.life-list1>div>div>h3,.life-list2>div>div>h3,.life-list3>div>div>h3{font-weight: 700;font-size: 16px;margin-bottom: 12px;}
.life-list1>div>div>p,.life-list2>div>div>p,.life-list3>div>div>p{margin-bottom:4px;}
.life-list1>div>div>p+p,.life-list2>div>div>p+p,.life-list3>div>div>p+p{margin-bottom:0;color:#C94E4A;}
.life-list1 .list1-1>div,.list1-2>div,.list1-3>div{position:absolute;color: #333;font-family: 'Microsoft Yahei';line-height: 1.2;z-index: 2;}
.list2-1{width:228px;}
.list2-1>h4{width:188px;}
.life-list2 .list2-1>div,.list2-2>div{position:absolute;color: #333;font-family: 'Microsoft Yahei';line-height: 1.2;z-index: 2;}
.list1-2,.list3-2{border-right:1px solid #ededed;position: absolute;left:0;}
.life-list1 .list1-2>div{left:10px;bottom:50px;}
.list1-2,.list1-3,.list3-2,.list3-3{width:201px;position:absolute;bottom:0;right:0;height:158px;border-right: 1px solid #EDEDED;overflow: hidden;}
.lsit2-2{width:228px;border-right: 1px solid #ededed;height:158px;overflow: hidden;}
.life-list1 .list1-3>div{left:10px;bottom:50px;}
.life-list2{width:229px;background:white;}
.life-list2 .list2-1>div{position:absolute;top:109px;left:10px;}
.list2-2>div,.list3-2>div{position:absolute;bottom:50px;left:10px;}
.life-list3{width:404px;}
.list2-2>img,.list3-3>img{position:absolute;bottom: 0;vertical-align: top;}
.list3-2>div>h3{color:#333;}
.life-list4{height:405px;width:171px;float:left;}
.life-list4>ul{width:85px;height:406px;float:left;}
.life-list4>ul.li4-one>li{width:75px;height:57px;text-align:left;line-height: 57px;border-right:1px dashed #EDEDED;border-bottom: 1px dashed #EDEDED;padding-right:3px;margin-left:7px;}
.life-list4>ul.li4-two>li{width:75px;height:57px;text-align:left;line-height: 57px;border-bottom: 1px dashed #EDEDED;padding-right:3px;margin-left:7px;}

