<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
         .login{background: #fff;padding:8px;border-radius:4px;text-decoration: none;color: inherit;margin-right: 10px;}
 
    </style>
</head>
<body style="background:grey;">
<div>
    <form action="/" method=post>
        <input type="text" name=username>
        <input type="password" name="password">
        <input type="submit" value="提交">
    </form>
    <br><br><br>

    <a href="in.hbs" class="in login">登录</a><a href="" class="up login">注册</a>
</div>

<script src="http://7xrxd2.com1.z0.glb.clouddn.com/jquery/jquery-1.12.3.min.js"></script>
<script>
$('form').on('submit',function(e){
    e.preventDefault()
    var form = this   
    var $form = $(this)
    var data= $form.serialize()
    $.post('/', data, function(response){
        var object = JSON.parse(response)
        console.log(object)
    }, 'json')
})

</script>


</body>
</html>
