*{margin:0px;padding:0px;}
body{font-size:16px;color:#eee;}
ul,li{list-style:none;}
a{text-decoration:none;}
.wrapper{text-align:center;}
.clearfix:after{display:block;clear:both;content:"";}
.siteNavigation{border-left:1px solid #ddd;display:inline-block;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-top:1px;}
.siteNavigation>li{position:relative;;float:left;background:white;text-align:center;border-right:1px solid #ddd;}
.siteNavigation>li>ul{display:none;position:absolute;top:100%;left:0px;width:100%;border:1px solid #ddd;background:white;margin-left:-1px;}
.siteNavigation>li:hover >ul{display:block;}
.siteNavigation>li>ul>li>a{padding:10px 0px;line-height:30px;display:block;}
.siteNavigation>li>a{width:150px;line-height:30px;padding:10px 0px;display:block;}