*{
   box-sizing: border-box;
}

.body{
    padding-left: 20px;
}

.container{
    width: 100%;
    padding:20px 160px 20px 240px;
    background-color: #eee;
    border: 1px solid #999;
    height: auto;
    min-width: 700px;
    }

    .clearfloat:after{
    	height: 0;
    	display: block;
    	content: '';
    	clear: both;
        zoom:1;
    }

    .main{
        width: 100%;
    	border: 1px solid #999;
    	text-align: center;
    	padding: 20px 20px;
    	margin:0;
    	background-color: #fff;
        float: left;
        
    }

    .left{
    	border: 1px solid #999;
    	width: 200px;
    	padding: 20px;
    	float: left;
    	margin-left: -100%;
    	background-color: #fff;
        position: relative;
        left: -220px;
    	}

    .logo{
    	width: 80px;
    	height: 80px;
    	padding: 0;
    	margin: 0;
    	background-color: #eee;
    	margin-bottom: 20px;
    }

    .right{
    	border: 1px solid #999;
    	width: 120px;
    	padding: 20px;
    	float: left;
    	margin-left: -120px;
    	background-color: #fff;
    	position: relative;
        left: 140px;
    }