@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-07-19 20:58:34
 * @version $Id$
 */
*{
	margin: 0;
	padding: 0;
}

body,html{
	height: 100%;
}

.arrow:focus{
	outline: none;;
}

.all-wrapper{
	text-align: center;
	height: 100%;
}

.all-wrapper:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.all-wrapper:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.arts{
	vertical-align: middle;
	display: inline-block;
}

.art-prev{
	left:0;
	border:none;
    opacity:0.6;
    width:20px;
    height:30px;
    line-height:30px;
    position:absolute;
	top:50%;
	margin-top:-15px;
	visibility:hidden;
}

.art-next{
	right:0;
	border:none;
    opacity:0.6;
    width:20px;
    height:30px;
    line-height:30px;
    position:absolute;
	top:50%;
	margin-top:-15px;
	visibility:hidden;
}
